In [1]:
import pandas as pd

In [3]:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita")

In [6]:
df = table[1]

In [7]:
df.to_csv("GDPPC.csv")

In [8]:
df = pd.read_csv("GDPPC.csv")
df2 = pd.read_csv("Food Waste data and research - by country.csv")

In [9]:
df.head()

,Country,UN Region,IMF_Estimate,Year,WB_Estimate,Year.1,CIA_Estimate,Year.2
0,Ireland,Europe,145196,2023,126905,2022,102500,2021
1,Luxembourg,Europe,142490,2023,142214,2022,115700,2021
2,Liechtenstein,Europe,—,—,—,—,139100,2009
3,Singapore,Asia,133895,2023,127565,2022,106000,2021
4,Qatar,Asia,124834,2023,114648,2022,92200,2021

In [10]:
df2.head()

,Country,combined figures (kg/capita/year),Household estimate (kg/capita/year),Household estimate (tonnes/year),Retail estimate (kg/capita/year),Retail estimate (tonnes/year),Food service estimate (kg/capita/year),Food service estimate (tonnes/year),Region
0,Afghanistan,126,82,3109153,16,594982,28,1051783,Southern Asia
1,Albania,127,83,238492,16,45058,28,79651,Southern Europe
2,Algeria,135,91,3918529,16,673360,28,1190335,Northern Africa
3,Andorra,123,84,6497,13,988,26,1971,Southern Europe
4,Angola,144,100,3169523,16,497755,28,879908,Sub-Saharan Africa

In [14]:
df3 = df2.merge(df, on='Country', how='left')

In [15]:
df3.head()

,Country,combined figures (kg/capita/year),Household estimate (kg/capita/year),Household estimate (tonnes/year),Retail estimate (kg/capita/year),Retail estimate (tonnes/year),Food service estimate (kg/capita/year),Food service estimate (tonnes/year),Region,UN Region,IMF_Estimate,Year,WB_Estimate,Year.1,CIA_Estimate,Year.2
0,Afghanistan,126,82,3109153,16,594982,28,1051783,Southern Asia,Asia,2456,2020,1674,2021,1500.0,2021
1,Albania,127,83,238492,16,45058,28,79651,Southern Europe,Europe,19029,2023,18552,2022,14500.0,2021
2,Algeria,135,91,3918529,16,673360,28,1190335,Northern Africa,Africa,13507,2023,13210,2022,11000.0,2021
3,Andorra,123,84,6497,13,988,26,1971,Southern Europe,Europe,68998,2023,—,—,49900.0,2015
4,Angola,144,100,3169523,16,497755,28,879908,Sub-Saharan Africa,Africa,7222,2023,6974,2022,5900.0,2021

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 214 non-null    object
 1   combined figures (kg/capita/year)       214 non-null    int64
 2   Household estimate (kg/capita/year)     214 non-null    int64
 3   Household estimate (tonnes/year)        214 non-null    int64
 4   Retail estimate (kg/capita/year)        214 non-null    int64
 5   Retail estimate (tonnes/year)           214 non-null    int64
 6   Food service estimate (kg/capita/year)  214 non-null    int64
 7   Food service estimate (tonnes/year)     214 non-null    int64
 8   Region                                  214 non-null    object
 9   UN Region                               189 non-null    object
 10  IMF_Estimate                            189 non-null    object
 11  Year                                    189 non-null    object
 12  WB_Estimate                             189 non-null    object
 13  Year.1                                  189 non-null    object
 14  CIA_Estimate                            189 non-null    float64
 15  Year.2                                  189 non-null    object
dtypes: float64(1), int64(7), object(8)
memory usage: 28.4+ KB

In [17]:
df3.to_csv("fin_v0.csv")

In [18]:
table2 = pd.read_html("https://www.worldometers.info/world-population/population-by-country/")

In [19]:
table2[0]

,#,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,1428627663,0.81 %,11454490,481,2973190,-486136,2.0,28.0,36 %,17.76 %
1,2,China,1425671352,-0.02 %,-215985,152,9388211,-310220,1.2,39.0,65 %,17.72 %
2,3,United States,339996563,0.50 %,1706706,37,9147420,999700,1.7,38.0,83 %,4.23 %
3,4,Indonesia,277534122,0.74 %,2032783,153,1811570,-49997,2.1,30.0,59 %,3.45 %
4,5,Pakistan,240485658,1.98 %,4660796,312,770880,-165988,3.3,21.0,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,4386,-0.09 %,-4,44,100,0,1.6,44.0,11 %,0.00 %
230,231,Falkland Islands,3791,0.29 %,11,0,12170,0,1.6,40.0,62 %,0.00 %
231,232,Niue,1935,0.05 %,1,7,260,0,2.4,36.0,41 %,0.00 %
232,233,Tokelau,1893,1.18 %,22,189,10,0,2.6,27.0,0 %,0.00 %
233,234,Holy See,518,1.57 %,8,1295,0,0,NaN,NaN,N.A.,0.00 %

In [20]:
df4 = table2[0]

In [21]:
df4.to_csv("Pop.csv")

In [24]:
df4 = pd.read_csv("Pop.csv")

In [23]:
df3 = pd.read_csv("fin_v0.csv")

In [25]:
df5 = df3.merge(df4, on='Country', how='left')

In [26]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 213
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Unnamed: 0                              214 non-null    int64
 1   Country                                 214 non-null    object
 2   combined figures (kg/capita/year)       214 non-null    int64
 3   Household estimate (kg/capita/year)     214 non-null    int64
 4   Household estimate (tonnes/year)        214 non-null    int64
 5   Retail estimate (kg/capita/year)        214 non-null    int64
 6   Retail estimate (tonnes/year)           214 non-null    int64
 7   Food service estimate (kg/capita/year)  214 non-null    int64
 8   Food service estimate (tonnes/year)     214 non-null    int64
 9   Region                                  214 non-null    object
 10  UN Region                               189 non-null    object
 11  IMF_Estimate                            214 non-null    int64
 12  Population (2023)                       198 non-null    float64
dtypes: float64(1), int64(9), object(3)
memory usage: 23.4+ KB

In [27]:
df5.to_csv("fin_v1.csv")

In [28]:
table3 = pd.read_html("https://www.macrotrends.net/countries/ranking/hunger-statistics")

HTTPError: HTTP Error 403: Forbidden